<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">修改密码</h1>
</header>
<div class="change-pwd">
    <form name="scanCodeForm" class="mui-input-group">
        <div class="mui-input-row" ng-if="showCno">
            <label>卡 号</label>
            <input type="text" readonly maxlength="16" pattern="[0-9]*" ng-model="params.cno">
        </div>
        <div class="mui-input-row">
            <label>设置密码</label>
            <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*" ng-model="params.pwd" placeholder="请输入6位数字密码">
            <span class="mui-icon mui-icon-closeempty" ng-if="params.pwd != ''" ng-click="params.pwd = ''"></span>
        </div>
        <div class="mui-input-row">
            <label>确定密码</label>
            <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*" ng-model="params.confirmPwd"
                   placeholder="请再次输入密码">
            <span class="mui-icon mui-icon-closeempty" ng-if="params.confirmPwd != ''"
                  ng-click="params.confirmPwd = ''"></span>
        </div>

        <div class="mui-input-row">
            <label>手 机 号</label>
            <input type="text" maxlength="11" pattern="[0-9]*" ng-model="params.phone" placeholder="请输入您的手机号码">
            <span class="mui-icon mui-icon-closeempty" ng-if="params.phone != ''" ng-click="params.phone = ''"></span>
        </div>
        <verify-code code="code" is-get-code="isGetCode" phone="params.phone" op="op" show-Code="showCode"></verify-code>
    </form>
    <div class="change-pwd-btn mui-text-center">
        <div class="mui-btn mui-btn-primary" ng-click="confrim()">确认
        </div>
    </div>
</div>

