<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" ng-click="goBack()" ng-show="showBackBtn"></a>
    <h1 class="mui-title">顺丰卡</h1>
    <a class="mui-icon iconfont icon-bangzhu mui-pull-right" ui-sref="problem"></a>
</header>
<div ng-if="cardList.cardNum != 0">
    <div class="mui-slider" ng-if="mktBanners.length != 0">
        <div class="mui-slider-group" ng-class="{'mui-slider-loop':mktBanners.length>1}">
            <!--额外增加的一个节点(循环轮播：第一个节点是最后一张轮播)-->
            <div class="mui-slider-item mui-slider-item-duplicate" ng-if="mktBanners.length>1">
                <a href="javascript:void(0)" ng-click="goMkt(mktBanners[mktBanners.length-1].name,mktBanners[mktBanners.length-1].op)">
                    <img ng-src="{{mktBanners[mktBanners.length-1].bnr}}">
                </a>
            </div>
            <div class="mui-slider-item" ng-repeat="mkt in mktBanners">
                <a href="javascript:void(0)" ng-click="goMkt(mkt.name,mkt.op)">
                    <img ng-src="{{mkt.bnr}}">
                </a>
                <div class="card-tips" ng-if="!mkt.bnr">
                    {{mkt.txt}}
                </div>
            </div>

            <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
            <div class="mui-slider-item mui-slider-item-duplicate" ng-if="mktBanners.length>1">
                <a href="javascript:void(0)" ng-click="goMkt(mktBanners[0].name,mktBanners[0].op)">
                    <img ng-src="{{mktBanners[0].bnr}}">
                </a>
            </div>
        </div>
        <div class="mui-slider-indicator" ng-if="mktBanners.length>1">
            <div class="mui-indicator" ng-repeat="mkt in mktBanners"
                 ng-class="{'mui-active':mktBanners.length == 0}"></div>
        </div>
    </div>
    <div class="card-info">
        <div class="info-key">
            <span>总余额(元)</span>
            <span>累计赠送(元)</span>
            <span>卡账户</span>
        </div>
        <div class="info-value">
            <span class="mui-ellipsis">{{cardList.cardTotalBalanceAmt/100|number:2}}</span>
            <span class="mui-ellipsis">{{cardList.cardTotalPrefAmt/100|number:2}}</span>
            <span class="mui-ellipsis">{{cardList.cardNum}}</span>
        </div>
    </div>
    <div class="bind-cards">
        <hr class="crossHr">
        <div class="crossWord">已绑定的卡片</div>
    </div>
    <div class="card-list">
        <ul class="mui-card-info">
            <li ng-repeat="card in cardList.outsideMemberCardInfoList" class="{{cardColor[$index % 4]}}"
                ng-click="goCardDetail(card)">
                <img class="mui-media-object mui-pull-left" src="images/cardicon-card-list.png">

                <div class="mui-media-body">
                    <p class="remark-name">{{card.remarkName}} <em class="mui-pull-right">尾号 {{card.cardNo|subStrLast4}}</em></p>
                   <!-- <p class="remark-name" ng-if="!card.remark && !(card.cardType =='EC')">顺丰卡 尾号
                        {{card.cardNo|subStrLast4}}</p>

                    <p class="remark-name" ng-if="!card.remark && card.cardType =='EC'">顺丰卡电子卡 尾号
                        {{card.cardNo|subStrLast4}}</p>
-->
                    <p><i class="mui-icon iconfont icon-yuan"></i><span>{{card.cardBalanceAmt/100|number:2}}</span></p>
                </div>
                <div class="elogo" ng-show="card.cardType =='EC'">电子卡</div>
                <div class="elogo" ng-show="card.cardType =='RSC'">实名卡</div>
            </li>
        </ul>
        <a class="bind-sfcard" ui-sref="verifyCard">
            <i class="mui-icon mui-icon-plusempty"></i> 绑定顺丰卡
        </a>

        <div class="no-ecard mui-text-center" ng-if="!cardList.existEleCard">
            <a ui-sref="ecardRegister">还没顺丰电子卡？点击开通</a>
        </div>

        <p class="sfcard-list-tips">提示：已支持绑定原有顺丰速运发行的速运通储值卡</p>
    </div>
</div>
<!--用户没有卡的情况-->
<div class="electron-card" ng-if="cardList.cardNum == 0">
    <img src="images/adbg1080.png"/>
    <div class="mui-text-center">
        <a ui-sref="ecardRegister" class="mui-btn mui-btn-primary mui-btn-outlined">开通电子卡</a>

        <a ui-sref="verifyCard" class="e-card">我有顺丰卡？去绑定</a>
    </div>
</div>



