<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">发票申请</h1>
</header>
<div ng-if="!isInvoiceSucc" class="change-pwd" style="margin-top: 2.1rem;">
    <form name="invoiceApplyForm" class="mui-input-group">
        <div class="invoice-info">
            <h3>开票信息</h3>
            <div class="mui-input-row">
                <label>开票金额</label>
                <input type="text" pattern="[0-9]*" ng-model="params.amt" required placeholder="可开票{{invoiveInfo.limitAmt}}元，输入100的整数倍">
                <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.amt != ''" ng-click="params.amt = ''"></span>
                <span class="span-tips">*</span>
            </div>
            <div class="mui-input-row">
                <label>开票抬头</label>
                <input type="text" ng-model="params.title" required placeholder="公司/个人">
                <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.title != ''" ng-click="params.title = ''"></span>
                <span class="span-tips">*</span>
            </div>
            <div class="mui-input-row" ng-click="showMoreInfo = !showMoreInfo">
                <label style="color:#2390ed">更多信息</label>
            </div>
           <div ng-if="showMoreInfo">
               <div class="mui-input-row">
                   <label>纳税人识别号</label>
                   <input type="text" ng-model="params.taxpayerNumber"  placeholder="请输入纳税识别号，可不填写">
                   <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.taxpayerNumber != ''" ng-click="params.taxpayerNumber = ''"></span>
               </div>
               <div class="mui-input-row">
                   <label>地址、电话</label>
                   <input type="text" ng-model="params.taxpayerAddrPhone"  placeholder="请输入发票的地址及电话，可不填写">
                   <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.taxpayerAddrPhone != ''" ng-click="params.taxpayerAddrPhone = ''"></span>
               </div>
               <div class="mui-input-row">
                   <label>开户行及账户</label>
                   <input type="text" ng-model="params.taxpayerBankAccount"  placeholder="请输入发票的开户信息，可不填写">
                   <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.taxpayerBankAccount != ''" ng-click="params.taxpayerBankAccount = ''"></span>
               </div>
           </div>
        </div>

        <div class="invoice-info">
            <h3 style="margin-top: -1px">发票配送信息</h3>
            <div class="mui-input-row">
                <label>收件人名</label>
                <input type="text" ng-model="params.addressee" required placeholder="请输入收件人名">
                <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.addressee != ''" ng-click="params.addressee = ''"></span>
                <span class="span-tips">*</span>
            </div>
            <div class="mui-input-row">
                <label>手机号码</label>
                <input type="text" minlength="11" maxlength="11" pattern="[0-9]*" ng-model="params.mobile" required
                       placeholder="请输入手机号码">
                <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.mobile != ''" ng-click="params.mobile = ''"></span>
                <span class="span-tips">*</span>
            </div>
            <div id="demo" class="citys">
                <div class="mui-input-row select-area">
                    <label>地 区</label>
                    <select style="width:18%;" class="mui-select" id="province" ng-model="params.province" name="province">
                    </select>
                    <select style="width:19%;" class="mui-select" id="city" ng-model="params.city" name="city">
                    </select>
                    <select style="width:22%;" class="mui-select" id="area" ng-model="params.area" name="area">
                    </select>
                </div>
            </div>
            <script type="text/javascript">
                $('#demo').citys({required:false, nodata:'hidden'});
            </script>
            <div class="mui-input-row">
                <label>详细地址</label>
                <input type="text" ng-model="params.address" required placeholder="请输入详细地址">
                <span class="mui-icon mui-icon-closeempty close-invioce" ng-if="params.address != ''" ng-click="params.address = ''"></span>
                <span class="span-tips">*</span>
            </div>
        </div>

        <div class="invioce-apply-tips">
            <p>据国税总局【2016】53号公告，2016年9月1日起，本卡充值后只能在当前页申请开具普通发票（非增值税专用发票），后续消费使用环节不再开票。本卡开票方为“顺丰速运有限公司”。
            <p>
        </div>
    </form>
    <div class="change-pwd-btn mui-text-center">
        <button class="mui-btn" ng-click="confirm()"
                ng-class="{'mui-btn-grey':invoiceApplyForm.$invalid,'mui-btn-primary':!invoiceApplyForm.$invalid}">申请开票
        </button>
    </div>
</div>

<div ng-if="isInvoiceSucc" class='success-tips mui-text-center'>
    <i class='mui-icon iconfont icon-dui'></i>

    <p class='s-p1'>开票申请已提交，发票大概需5-10个工作日寄至登记地址，如地址偏远或遇业务高峰期间等异常情况，寄送可能会有所延迟，请见谅！</p>

    <p class='s-p2'>有疑问可与 {{tel}} 联系，谢谢！</p>

    <a href="javascript:void(0)" ng-click="goBack()" class='mui-btn mui-btn-primary'>关闭</a>
</div>
