<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">找回密码</h1>
</header>
<div class="find-pwd">
     <div class="c-59" ng-show="!showCode">
         验证码已发送至您的 <span class="c-28">{{mobile|phoneFilter}}</span>
     </div>
    <form name="findPwdForm" class="mui-input-group oh">
        <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*" class="mui-input-row"
               placeholder="请输入短信验证码" ng-model="params.code" required/>
        <label ng-show="!showCode"> {{second}} 秒后重发</label>
        <label ng-show="showCode" class="mui-pull-right c-23" ng-click="sendCode()">
            再次发送
        </label>
    </form>
    <div class="c-90 phone-tips">
        请验证绑定手机 {{mobile|phoneFilter}}
    </div>

    <div class="change-pwd-btn mui-text-center">
        <button class="mui-btn"
                ng-class="{'mui-btn-grey':findPwdForm.$invalid,'mui-btn-primary':!findPwdForm.$invalid}"
                ng-click="next()">下一步
        </button>
    </div>

</div>

