<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">设置密码</h1>
</header>
<div class="change-pwd scan-code-pwd">
    <div class="mui-text-center">
        <img src="images/cardBack.png"/>
    </div>
    <form name="scanCodeForm" class="mui-input-group">
        <div class="mui-input-row">
            <label>涂层码</label>
            <input type="tel" maxlength="6" pattern="[0-9]*" ng-model="params.coatingCode" placeholder="请输入验证码">
            <span class="mui-icon mui-icon-closeempty" ng-if="params.coatingCode != ''" ng-click="params.coatingCode = ''"></span>
        </div>
        <div class="mui-input-row">
            <label>设置密码</label>
            <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*" ng-model="params.pwd" placeholder="请输入密码">
            <span class="mui-icon mui-icon-closeempty" ng-if="params.pwd != ''" ng-click="params.pwd = ''"></span>
        </div>
        <div class="mui-input-row">
            <label>确定密码</label>
            <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*" ng-model="params.confirmPwd" placeholder="请再次输入密码">
            <span class="mui-icon mui-icon-closeempty" ng-if="params.confirmPwd != ''" ng-click="params.confirmPwd = ''"></span>
        </div>
    </form>
    <div class="change-pwd-btn mui-text-center">
        <div class="mui-btn" ng-class="{'mui-btn-grey':scanCodeForm.$invalid,'mui-btn-primary':!scanCodeForm.$invalid,}" ng-click="confrim()">确认</div>
    </div>
</div>
