<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">设置密码</h1>
</header>
<div class="change-pwd">
    <form name="setPwdForm" class="mui-input-group">
        <div class="mui-input-row">
            <label>新密码</label>
            <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*"
                   ng-model="params.pwd" required
                   placeholder="请输入新密码">
        </div>
        <div class="mui-input-row">
            <label>确认新密码</label>
            <input class="pwd" type="tel" maxlength="6" pattern="[0-9]*"
                   ng-model="params.confirmPwd" required
                   placeholder="请再次输入新密码">
        </div>
    </form>
    <div class="change-pwd-btn mui-text-center">
        <button class="mui-btn" ng-click="confirm()"
                ng-class="{'mui-btn-grey':setPwdForm.$invalid,'mui-btn-primary':!setPwdForm.$invalid}">确认</button>
    </div>
</div>
