<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">顺丰卡支付</h1>

    <a ng-if="onlineInfo.cardOptionList.length != 0" href="javascript:void(0)"
       ng-click="cancelPay()"class="mui-pull-right header-cancel">取消</a>
</header>

<div class="online-pay add-card">
    <div class="mui-table-view-cell oh">
        <span class="mui-pull-left">支付运费</span>
        <span class="mui-pull-right">{{onlineInfo.payAmt/100|number:2}} 元</span>
    </div>
    <form name="addCardForm" class="mui-input-group">
        <div class="mui-input-group">
            <div class="mui-input-row">
                <label>卡&nbsp;&nbsp;&nbsp;号</label>
                <input type="tel" id="cno" maxlength="19" ng-model="params.cno" placeholder="请输入卡号"/>
                <span class="mui-icon mui-icon-closeempty" ng-if="!showScanCode && params.pwd != ''" ng-click="params.pwd = ''"></span>
                <img style="padding-top: 0.2rem;" class="mui-pull-left" src="images/scan.png" ng-if="showScanCode"
                     ng-click="scanCode()"/>
            </div>
            <div class="mui-input-row">
                <label>密&nbsp;&nbsp;&nbsp;码</label>
                <input class="pwd" type="tel" maxlength="8" pattern="[0-9]*" ng-model="params.pwd" placeholder="请输入卡密码"/>
                <span class="mui-icon mui-icon-closeempty" ng-if="params.pwd != ''" ng-click="params.pwd = ''"></span>
            </div>
        </div>

        <div class="mui-text-center mtb1">
            <button class="mui-btn mui-col-xs-6" ng-click="payBindCard()"
                    ng-class="{'mui-btn-grey':addCardForm.$invalid,'mui-btn-primary':!addCardForm.$invalid}">支付并绑定
            </button>
        </div>
    </form>
</div>


