<div ng-show="showOnline">
    <header id="header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title" style="width: 73%">在线支付</h1>
        <a ng-if="onlineInfo.cardOptionList.length != 0" href="javascript:void(0)"
           ng-click="cancelPay()" class="mui-pull-right header-cancel">取消</a>
    </header>

    <div class="online-pay">
        <div class="mui-table-view-cell oh">
            <span class="mui-pull-left">支付运费</span>
            <span class="mui-pull-right">{{onlineInfo.payAmt/100|number:2}} 元</span>
        </div>

        <!--has card-->
        <div ng-if="onlineInfo.cardOptionList.length != 0">
            <div class="mui-table-view-cell mui-media">
                <a class="mui-navigate-right" href="javascript:void(0)" ng-click="showSelectCard()">
                    <div class="mui-media-body" ng-if="cardList.length != 0">
                        {{defaultPayCard[0].remarkName}} 尾号{{defaultPayCard[0].cardNo|subStrLast4}}
                        <p>可用余额 {{defaultPayCard[0].cardBalanceAmt/100|number:2}}</p>
                    </div>
                    <div class="mui-media-body" style="line-height: 1.2rem;" ng-if="cardList.length == 0">
                        请选择要支付的卡
                    </div>
                </a>
            </div>
            <div class="mui-input-group">
                <div class="mui-input-row">
                    <label>密 码</label>
                    <input class="pwd" type="tel" maxlength="6" ng-model="params.password" placeholder="请输入您的顺丰卡密码">
                </div>
            </div>
            <div class="mui-text-center mtb1 online-btn">
                <a class="mui-btn mui-btn-primary" href="javascript:void(0)" ng-click="repay()">立即支付</a>
                <a ng-show="showEleLink" ui-sref="ecardRegister" class="">还没顺丰电子卡?点击开通</a>
            </div>
        </div>
    </div>
</div>

<div ng-show="!showOnline">
    <header id="header" class="mui-bar mui-bar-nav">
        <a class=" mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0)" ng-click="showOnline = true"></a>
        <h1 class="mui-title">跟换储值卡</h1>
    </header>
    <div class="select-card">
        <ul class="mui-table-view mui-table-view-radio">
            <li class="mui-table-view-cell"
                ng-repeat="card in cardList"
                ng-class="{'mui-selected':card.checked}"
                ng-click="selectCard(card)">
                <a class="mui-navigate-right">
                    <h5><span>{{card.remarkName}}</span>尾号{{card.cardNo|subStrLast4}}</h5>

                    <p>可用余额 {{card.cardBalanceAmt/100|number:2}}元</p>
                </a>
            </li>
            <li class="mui-view-cell li-disable" ng-repeat="card1 in balanceCardList">
                <h5><span>{{card1.remarkName}}</span>
                    尾号{{card1.cardNo|subStrLast4}}</h5>

                <p>可用余额 {{card1.cardBalanceAmt/100|number:2}}元</p>
            </li>
        </ul>
        <div class="mui-table-view-cell">
            <a class="mui-navigate-right c-23" ui-sref="addCard">
                使用新的顺丰卡
            </a>
        </div>
    </div>
</div>
