<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0)" ng-click="goBack()"></a>
    <h1 class="mui-title">我要充值</h1>
</header>
<div class="mui-slider">
    <div ng-class="{'mui-slider-group mui-slider-loop':mktBanners.length > 1}">
        <!--额外增加的一个节点(循环轮播：第一个节点是最后一张轮播)-->
        <div class="mui-slider-item mui-slider-item-duplicate" ng-if="mktBanners.length > 1">
            <a href="javascript:void(0)"
               ng-click="goMkt(mktBanners[mktBanners.length-1].name,mktBanners[mktBanners.length-1].op)">
                <img ng-src="{{mktBanners[mktBanners.length-1].bnr}}">
            </a>
        </div>

        <div class="mui-slider-item" ng-repeat="mkt in mktBanners">
            <a href="javascript:void(0)" ng-click="goMkt(mkt.name,mkt.op)">
                <img ng-src="{{mkt.bnr}}">
            </a>
            <div class="card-tips" ng-if="!mkt.bnr">
                {{mkt.txt}}
            </div>
        </div>

        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate" ng-if="mktBanners.length > 1">
            <a href="javascript:void(0)" ng-click="goMkt(mktBanners[0].name,mktBanners[0].op)">
                <img ng-src="{{mktBanners[0].bnr}}">
            </a>
        </div>
    </div>

    <div class="mui-slider-indicator" ng-if="mktBanners.length > 1">
        <div class="mui-indicator" ng-repeat="mkt in mktBanners"
             ng-class="{'mui-active':mktBanners.length == 0}"></div>
    </div>
    <script>
        mui(".mui-slider").slider({
            interval: 5000
        });
    </script>
</div>

<div class="recharge">
    <div class="oh recharge-info">
        <div class="mui-pull-left">
            <i class="mui-icon iconfont icon-yinxingqia"></i>
        </div>
        <div class="mui-pull-left">
            <p class="recharge-p" ng-show="!rechargeInfo.remark && rechargeInfo.eleCard">顺丰电子卡</p>

            <p class="recharge-p" ng-show="!rechargeInfo.remark && !rechargeInfo.eleCard">顺丰卡</p>

            <p class="recharge-p" ng-show="rechargeInfo.remark">{{rechargeInfo.remark}}
                尾号{{rechargeInfo.cardTail}}</p>

            <p class="recharge-p2">余额 <span class="c-f1">{{rechargeInfo.balance/100|number:2}}元</span></p>
        </div>
    </div>
    <div class="bind-card">
        <hr class="crossHr">
        <div class="crossWord">充值金额</div>
    </div>
    <ul class="recharge-type oh">
        <li ng-repeat="recharge in rechargeList"
            ng-class="{'active':$index == rechargeIndex}" ng-click="checkItem(recharge,$index)">
            <div> <!--<i class="mui-icon iconfont icon-yuan"></i>--> {{recharge}}元</div>
            <div class="mui-ellipsis" ng-show="rechargeInfo.giveScale != 0">(赠送{{recharge*rechargeInfo.giveScale/100}}元)
            </div>
            <div class="mui-ellipsis" ng-show="rechargeInfo.giveScale == 0"></div>
        </li>

        <!--充值金额大于卡内余额-->
        <li ng-repeat="recharge1 in rechargeDisable"
            class="recharge-disable">
            <div>&yen; <!--<i class="mui-icon iconfont icon-yuan"></i>-->
                {{recharge1}}
            </div>
            <div class="mui-ellipsis" ng-show="rechargeInfo.giveScale != 'null'">
                (赠送{{recharge1*rechargeInfo.giveScale/100}}元)
            </div>
            <div class="mui-ellipsis" ng-show="rechargeInfo.giveScale == 'null'">(赠送0.00元)</div>
        </li>
    </ul>
    <div class="bind-card">
        <hr class="crossHr">
        <div class="crossWord">付款方式</div>
    </div>
    <div class="pay-type">
        <div class="mui-input-row mui-radio" ng-click="selectPayType(0)">
            <label>
                <img style="width: 1rem;vertical-align: middle;" src="images/menu-payment-ssf.png" alt="">
                &nbsp;顺手付支付</label>
            <input name="radio1" type="radio">
        </div>
        <div class="mui-input-row mui-radio" ng-click="selectPayType(1)">
            <label><i class="mui-icon iconfont icon-weixin"> </i> &nbsp;微信支付</label>
            <input name="radio1" type="radio" checked>
        </div>
    </div>
    <div class="mui-text-center mtb1">
        <a class="mui-btn mui-btn-primary mui-col-xs-6" ng-click="recharge()">充值</a>
        <p style="margin-top: 2rem;">本卡由顺丰速运发行</p>
    </div>
</div>

